.flat-button {
  color: white;
  font-family: monospace;
  font-weight: bold;
  background-color: #4c4c66;
  border: 2px solid #4c4c66;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: background-color, border-color;
  user-select: none;
}

.flat-button:hover {
  background-color: #555572;
  border-color: #555572;
}

.flat-button:active {
  background-color: transparent;
  color: #4c4c66;
}

.flat-button_primary {
  background-color: #70ca95;
  border-color: #70ca95;
}

.flat-button_primary:hover {
  background-color: #7fd0a0;
  border-color: #7fd0a0;
}

.flat-button_primary:active {
  background-color: transparent;
  color: #70ca95;
}

.flat-button_danger {
  background-color: #ca7070;
  border-color: #ca7070;
}

.flat-button_danger:hover {
  background-color: #d07f7f;
  border-color: #d07f7f;
}

.flat-button_danger:active {
  background-color: transparent;
  color: #ca7070;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-left: 4px solid #4c4c66;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #d3d3de;
}

.contact__info > * {
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact__name {
  font-weight: bold;
}

.contact__mail {
  color: #274988;
}

.contact__buttons {
  display: flex;
}

.contact__button {
  margin-right: 5px;
}

.contact__button:last-child {
  margin-right: 0;
}

.filter-find {
  display: inline-block;
  background-color: #4c4c66;
  border-radius: 6px;
}

.filter-find__select,
.filter-find__select option {
  color: white;
  font-weight: bold;
  background-color: #4c4c66;
  border-radius: 6px;
  cursor: pointer;
}

.filter-find__input {
  width: 200px;
  color: white;
  font-weight: bold;
  background-color: #4c4c66;
  border-radius: 6px;
}

.filter-find__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.filter-find__input:focus::placeholder {
  color: transparent;
}

.flat-button {
  color: white;
  font-family: monospace;
  font-weight: bold;
  background-color: #4c4c66;
  border: 2px solid #4c4c66;
  border-radius: 6px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: background-color, border-color;
  user-select: none;
}

.flat-button:hover {
  background-color: #555572;
  border-color: #555572;
}

.flat-button:active {
  background-color: transparent;
  color: #4c4c66;
}

.flat-button_primary {
  background-color: #70ca95;
  border-color: #70ca95;
}

.flat-button_primary:hover {
  background-color: #7fd0a0;
  border-color: #7fd0a0;
}

.flat-button_primary:active {
  background-color: transparent;
  color: #70ca95;
}

.flat-button_danger {
  background-color: #ca7070;
  border-color: #ca7070;
}

.flat-button_danger:hover {
  background-color: #d07f7f;
  border-color: #d07f7f;
}

.flat-button_danger:active {
  background-color: transparent;
  color: #ca7070;
}

.edit-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.edit-window__shadow {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-window__form {
  position: relative;
  z-index: 101;
  padding: 10px 20px;
  border-top: 4px solid #4c4c66;
  background-color: #d3d3de;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.edit-window__form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-window__form-group_center {
  justify-content: center;
}

.edit-window__form-group *:first-child {
  margin-right: 10px;
}

.edit-window__form-group:last-child {
  padding-top: 10px;
}

.edit-window__form-label {
  cursor: pointer;
}

.edit-window__form-input {
  border-radius: 6px;
  border: 2px solid transparent;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: border-color;
}

.edit-window__form-input:focus {
  border-color: #4c4c66;
}

.edit-window__form-input_valid {
  border-color: #70ca95;
}

.edit-window__form-input_invalid {
  border-color: #ca7070;
}

.page-number {
  display: flex;
  cursor: pointer;
  user-select: none;
}

.page-number__arrow, .page-number__number {
  padding: 5px;
  font-weight: bold;
  color: #274988;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: color;
}

.page-number__arrow:hover, .page-number__arrow:active, .page-number__number:hover, .page-number__number:active {
  color: #4a77cb;
}

.page-number__number_active {
  border-radius: 100%;
  background-color: #70ca95;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
}

.app__header {
  background-color: #d3d3de;
}

.app__title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #eee;
  background-color: #4c4c66;
}

.app__top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.app__main {
  padding: 5px;
}

.app__contact-list {
  padding-left: 20px;
  padding-right: 20px;
}

.app__contact-list > * {
  margin-bottom: 20px;
}

.app__contact-list > *:last-child {
  margin-bottom: 0;
}

.app__footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: serif;
}

option,
button,
input,
select {
  padding: 10px 20px;
}
