.filter-find
    select.filter-find__select(name="filterName")
        option(value="Имя" selected) Имя
        option(value="Номер") Номер
        option(value="Почта") Почта
    input.filter-find__input(type="text" name="filterValue" placeholder="Поиск")
