include ../FlatButton/FlatButton

.contact
    .contact__info
        .contact__name Вася Пупкин
        .contact__phone 8800553535
        a.contact__mail(href="mailto:vasia@mail.ru") vasia@mail.ru
    .contact__buttons
        .contact__button: +flat-button(0)
        .contact__button: +flat-button(4)
