@import "../../general.scss";

.filter-find {
    display: inline-block;
    background-color: $color;
    border-radius: $border-radius;

    &__select,
    &__select option {
        color: white;
        font-weight: bold;
        background-color: $color;
        border-radius: $border-radius;
        cursor: pointer;
    }

    &__input {
        width: 200px;
        color: white;
        font-weight: bold;
        background-color: $color;
        border-radius: $border-radius;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }
}
