@import "../../general.scss";
@import "../FlatButton/FlatButton.scss";

.edit-window {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &__shadow {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    &__form {
        position: relative;
        z-index: 101;
        padding: 10px 20px;
        border-top: 4px solid $color;
        background-color: lighten($color, 50%);
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &__form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: {
            top: 5px;
            bottom: 5px;
        }

        &_center {
            justify-content: center;
        }

        *:first-child {
            margin-right: 10px;
        }

        &:last-child {
            padding-top: 10px;
        }
    }

    &__form-label {
        cursor: pointer;
    }

    &__form-input {
        border-radius: $border-radius;
        border: 2px solid transparent;
        transition-duration: $animation-duration;
        transition-timing-function: $animation-timing-function;
        transition-property: border-color;

        &:focus {
            border-color: $color;
        }

        &_valid {
            border-color: $color-primary;
        }

        &_invalid {
            border-color: $color-danger;
        }
    }
}
