include ../FlatButton/FlatButton

.edit-window
    .edit-window__shadow
    form.edit-window__form(action="")
        .edit-window__form-group
            label.edit-window__form-label(for="contactName") Имя:
            input.edit-window__form-input#contactName(type="text")
        .edit-window__form-group
            label.edit-window__form-label(for="contactPhone") Телефон:
            input.edit-window__form-input#contactPhone(type="text")
        .edit-window__form-group
            label.edit-window__form-label(for="contactMail") Почта:
            input.edit-window__form-input#contactMail(type="text")
        .edit-window__form-group.edit-window__form-group_center
            +flat-button(3)
            +flat-button(1)
