$animation-duration: 0.3s;
$animation-timing-function: ease;

$border-radius: 6px;

$color: rgb(76, 76, 102);
$color-primary: rgb(112, 202, 149);
$color-danger: rgb(202, 112, 112);
$blue: rgb(39, 73, 136);
