<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Записная книжка</title>

    <style>
        * {
            margin: 0;
            border: 0;
            padding: 0;
            outline: 0;
        }

        html,
        body {
            height: 100%;
        }

        body {
            font-size: 16px;
            font-family: serif;
        }

        option,
        button,
        input,
        select {
            padding: 10px 20px;
        }
    </style>

</head>

<body>
    <div id="app"></div>
    <script src="/static/js/build.js"></script>
</body>

</html>
